<p id="notice">
  <%= notice %>
</p>
<p>
  <b>Company name:</b>
  <%= @stock.company_name %>
</p>
<p>
  <b>Price:</b>
  <%= @stock.price %>
</p>
<p>
  <b>Market cap:</b>
  <%= @stock.market_cap %>
</p>
<%= link_to "Edit", edit_stock_path(@stock) %>
\|
<%= link_to "Back", stocks_path %>
