<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<main class="form-signin">
  <form>
    <%= image_tag "logo-stock.png", alt: "Stock Trading", style: "height: 57px;width:72px;" %>
    <br>
    <br>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Enter password" %>
  </div>
  <br>
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
  <br>
  <div class="actions">
    <%= f.submit "Sign in", class: "w-100 btn btn-lg btn-warning" %>
  </div>
  <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
  </form>
</main>
<% end %>

