<%= form_with(model: [@stock, transaction], local: true) do |f| %>

  <div class="field">
    <%= f.label :share %>
    <%= f.number_field :share, class: "form-control", value: 1 %>
  </div>
  <br>
  <div class="field">
    Price: <input type="text" id="price" value="<%= @stock.price %>" disabled>
    <%= f.hidden_field :price, value: @stock.price %>
  </div>
  <br>
  <div class="field">
    Value:
    <%= f.number_field :value, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :stock_id, value: :stock_id %>
  <br>
  <div class="actions">
    <%= f.submit "Buy", class: "btn btn-warning text-dark" %>
  </div>
<% end %>
