<h1>Listing transactions</h1>
<table class="table table-bordered table-dark table-hover">
   <thead>
      <tr>
        <th>Transaction Id</th>
        <th>Share</th>
        <th>Price</th>
        <th>Value</th>
        <th>Stock Id</th>
        <th>Stock Name</th>
        <th>Broker</th>
        <th></th>   
        <th></th>   
        <th></th>   
      </tr>
   </thead>
   <tbody>
      <% @transactions.each do |transaction| %>
        <% if current_user.isadmin == true %>
        <tr>
          <td>
            <%= transaction.id %>
          </td>
          <td>
            <%= transaction.share %>
          </td>
          <td>
            <%= transaction.price %>
          </td>
          <td>
            <%= transaction.value %>
          </td>
          <td>
            <%= transaction.stock_id %>
          </td>
          <td>
            <%= transaction.stock.company_name %>
          </td>
           <td>
              <%= transaction.user.email %>
          </td>
          <td>
            <%= link_to "Show", [transaction.stock, transaction] %>
          </td>
          <td>
            <%= link_to "Edit", edit_stock_transaction_path(transaction.stock, transaction) %>
          </td>
          <td>
            <%= link_to "Destroy", [transaction.stock, transaction], :method => :delete, :data => { :confirm => "Are you sure?" } %>
          </td>
        </tr>
        <% elsif current_user.role.name == "buyer" && transaction.user == current_user %>
          <tr>
            <td>
              <%= transaction.share %>
            </td>
            <td>
              <%= transaction.share %>
            </td>
            <td>
              <%= transaction.price %>
            </td>
            <td>
              <%= transaction.value %>
            </td>
            <td>
              <%= transaction.stock_id %>
            </td>
            <td>
              <%= transaction.stock.company_name %>
            </td>
            <td>
              <%= transaction.stock.user.email %>
            </td>
          </tr>
        <% else %>
        <% end %>
      <% end %>
   </tbody>
</table>


