<p id="notice">
  <%= notice %>
</p>
<p>
  <b>Share:</b>
  <%= @transaction.share %>
</p>
<p>
  <b>Price:</b>
  <%= @transaction.price %>
</p>
<p>
  <b>Stock id:</b>
  <%= @transaction.stock_id %>
</p>
<p>
  <b>Price:</b>
  <%= @transaction.user_id %>
</p>
<%= link_to "Edit", edit_stock_transaction_path(@transaction) %>
\|
<%= link_to "Back", stock_transactions_path %>
